<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2OpFrYScZTwIGOT-7Pdp_sh0aEkTdXQg</string>
	<key>GCM_SENDER_ID</key>
	<string>295195359962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupProject</string>
	<key>PROJECT_ID</key>
	<string>team-planner-odin-lab</string>
	<key>STORAGE_BUCKET</key>
	<string>team-planner-odin-lab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295195359962:ios:7d99de7d65e4b43b4443e3</string>
</dict>
</plist>